@model IEnumerable<FoodPlanner.Models.Recipe>

@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container flistPage">
    <p style="text-align:right;">
        <a class="btn dark btn-coffee" asp-controller="Home" asp-action="Index" style="width: 100px;">Back</a>
    </p>
    <hr />
    <h1>Recipes</h1>
    <hr />
    <div class="row">
        <div class="col" style="text-align: center;">
            <p>
                <a class="nav-link navbar-link dark btn-primary" asp-action="Create">Create New</a>
            </p>
        </div>
        <div class="col" style="text-align: center;">
            <p>
                <a class="nav-link navbar-link dark btn-alternative" asp-controller="Spoontacular" asp-action="Index">Search Online</a>
            </p>
        </div>
    </div>

    @foreach (var cuisine in Model.Select(r => r.Cuisine).Distinct())
    {
        <div class="container-fluid" style="padding: 10px; margin: 10px; border: 3px solid black; border-radius: 5px;">
            <div class="row">
                <div class="col">
                    @if (cuisine == null)
                    {
                        <h2>Other</h2>
                    }
                    else
                    {
                        <h2>@cuisine.Name</h2>
                    }
                </div>
            </div>
            @foreach (var item in Model.Where(r => r.Cuisine == cuisine))
            {
                <div class="row" style="padding: 5px;">
                    <div class="col-12">
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </div>
                </div>
            }
        </div>
    }
</div>

