@using FoodPlanner.Interfaces

@model FoodPlanner.Models.Ingredient

@if (Model != null)
{
    <span class="box" style="margin: 0px 5px 0px 5px;">
        <a class="button" href="#" onclick="OpenIngredientHighlight('IngredientHighlight-@Model.Id')">@Model.Product.ProductType.Name</a>
    </span>

    <div id="IngredientHighlight-@Model.Id" class="overlay">
        <div class="popup">
            <a class="close" href="#" onclick="CloseIngredientHighlight('IngredientHighlight-@Model.Id')">&times;</a>
            <div>
                <h2>@Model.Name</h2>
                <div class="content">
                    @Model.Quantity @Model.Unit
                </div>
            </div>
        </div>
    </div>
}

