@page
@model ChangeActiveHouseholdModel
@{
    ViewData["Title"] = "Change Active Household";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully changed the active Household.</p>
</header>