@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your email has been confirmed. Please <a asp-page="./Login">click here to log in</a>.
</p>