/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.foodplancard{
    min-width: 300px;
}

.foodplan-calendar {
    padding: 5px;
    text-align: center;
    width: 100%;
}

    .foodplan-calendar .day {
        border-color: black;
        background-color: red;
        color: white;
    }

    .foodplan-calendar .meal {
    }

    .foodplan-calendar .content {
        vertical-align: middle;
        margin: auto;
        background-color: white;
        color: black;
        position: relative;
    }

    .foodplan-calendar table {
        border-collapse: unset;
    }

    .foodplan-calendar td {
        width: 33.3%;
    }

    .foodplan-calendar .foodplan-content {
        padding: 30px;
    }

@media (max-width: 768px) {
    .foodplan-calendar .meal-logo {
        float: left;
    }
}

.foodplan-add {
    position: absolute;
    bottom: 0;
    right: 0;
}

    .foodplan-add i {
        padding: 2px;
        color: lightgrey;
        height: 30px;
        width: 30px;
    }

@media (max-width: 768px) {
    .foodplan-add i {
        height: 20px;
        width: 20px;
    }
}

.foodplan-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    color: black;
    font-size: small;
}

@media (max-width: 768px) {
    .foodplan-label {
        font-size: 4pt;
    }
}

.foodplan-col {
    padding: 0px;
    min-width: 500px;
    min-height: 450px;
}
@media (max-width: 768px) {
    .foodplan-col {
        min-width: 200px;
    }
}

.productRow input[type=number]::-webkit-inner-spin-button,
.productRow input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}