/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#foodplan-summary {
    max-height: 400px;
}
.foodplan-summary-days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.foodplan-summary-day {
    flex: 1 1 50%;
    min-width: 250px;
}

#recipe-summary {
    max-height: 350px;
}
    #recipe-summary .card-body {
        overflow-y: auto;
    }

#shoppinglist-summary {
    width: 33%;
}
@media (max-width: 768px) {
    #shoppinglist-summary {
        width: 100%;
    }
}

.homepage-summary {
    width: 66%;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    border-width: 3px;
    flex: 1 1 300px;
    color: white;
    background-color: var(--primary-colour);
    border-color: var(--dark-colour);
}
@media (max-width: 768px) {
    .homepage-summary {
        width: 100%;
    }
}

.homepage-summary h2 {
    text-decoration: underline;
}

#summary {
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    #summary {
        display: block;
        height: 100%;
    }
}

.summary-title {
    text-align: center;
    margin: auto;
}