/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#foodplan-summary {
    max-height: 400px;
}
.foodplan-summary-days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.foodplan-summary-day {
    flex: 1 1 50%;
    min-width: 250px;
}

#foodplan-calendar {
    padding: 5px;
    text-align: center;
    width: 100%;
}
    #foodplan-calendar .day {
        border-color: black;
        background-color: red;
        color: white;
    }
    #foodplan-calendar .meal {
    }
    #foodplan-calendar .content {
        vertical-align: middle;
        margin: auto;
        background-color: white;
        color: black;
        position:relative;
    }
    #foodplan-calendar .foodplan-border{
        border: 2px solid black;
        border-collapse: collapse;
    }
    #foodplan-calendar td {
        width: 33.3%;
    }

@media (max-width: 768px) {
    #foodplan-calendar {
        font-size: x-small;
    }
    #foodplan-calendar .meal-logo {
        float: left;
    }
}

.foodplan-add {
    position: absolute;
    bottom: 0;
    right: 0;
}
.foodplan-add i {
    padding: 2px;
    color: lightgrey;
}

#recipe-summary {
    max-height: 350px;
}
    #recipe-summary .card-body {
        overflow-y: auto;
    }
@media (max-width: 768px) {
    #recipe-summary {
        font-size: x-small;
    }
}

#shoppinglist-summary {
    width: 33%;
}
@media (max-width: 768px) {
    #shoppinglist-summary {
        width: 100%;
        font-size: x-small;
    }
}

.homepage-summary {
    width: 66%;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    border-width: 3px;
    flex: 1 1 300px;
    color: white;
    background-color: var(--primary-colour);
    border-color: var(--dark-colour);
}
@media (max-width: 768px) {
    .homepage-summary {
        width: 100%;
    }
}

.homepage-summary h2 {
    text-decoration: underline;
}

#summary {
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    #summary {
        display: block;
        height: 100%;
    }
}

.summary-title {
    text-align: center;
    margin: auto;
}