<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flist @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/foodplans.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="~/css/products.css" />
    <link rel="stylesheet" href="~/css/recipes.css" />
    <link rel="stylesheet" href="~/css/shoppinglists.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <form asp-controller="Home" asp-action="Index" style="margin: 0px 10px 0px 0px;">
                    <button type="submit" class="nav-link navbar-link btn-alternative navbar-brand">
                        <h3>
                            @*<img src="~/images/restaurant-menu.svg" alt="fList Logo" height="50" width="50" />*@
                            <i class="fas fa-home"></i>
                        </h3>
                    </button>
                </form>
                @*<img src="~/images/restaurant-menu.svg" alt="fList Logo" height="50" width="50" />*@
                <div class="navbar-title"><h1><img src="~/images/restaurant-menu.svg" alt="fList Logo" height="50" width="50" /> <div style="display: inline; vertical-align: middle;">fList</div></h1></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
                    @*<span class="navbar-toggler-icon"></span>*@
                    <i class="fas fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @*<ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link navbar-link btn-alternative" asp-area="" asp-controller="ShoppingLists" asp-action="Details">Shopping List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-link btn-alternative" asp-area="" asp-controller="FoodPlans" asp-action="Index">Food Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-link btn-alternative" asp-area="" asp-controller="Recipes" asp-action="Index">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-link btn-alternative" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                </li>
            </ul>*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FoodPlanner - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="https://kit.fontawesome.com/5a2071e9b5.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
