@model IEnumerable<ShopItem>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shopping List:</h4>
    <hr />
    @foreach (var shopItem in Model)
    {
        @Html.DisplayFor(si => shopItem)
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>