@model IEnumerable<FoodPlanner.Models.FoodPlan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pick shopping list size:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Days
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var days in new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14})
        {
            <tr>
                <td>
                    @days
                </td>
                <td>
                    <a asp-action="RegenerateList" asp-route-Days="@days" style="color: red; text-decoration: underline;">Generate List</a>
                </td>
            </tr>
        }
    </tbody>
</table>