@model IEnumerable<FoodPlanner.Models.FoodPlan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pick shopping list size:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Days
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var days in new List<int>() { 5, 7, 12, 14})
        {
            <tr>
                <td>
                    @days
                </td>
                <td>
                    <a asp-action="Details" asp-route-Days="@days">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>