@model FoodPlanner.Models.FoodPlan

@{
    ViewData["Title"] = $"Edit {Model.Date.ToString("dd MMM")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function addRecipe() {
        var RL = document.getElementById('RecipeList');
        var RR = document.getElementsByName('RecipeRow')[0];
        var newRow = RR.cloneNode(true);
        RL.appendChild(newRow);
    }
    function addProduct() {
        var PL = document.getElementById('ProductList');
        var PR = document.getElementsByName('ProductRow')[0];
        var newRow = PR.cloneNode(true);
        PL.appendChild(newRow);
    }
</script>

<h1>Edit</h1>

<h4>FoodPlan</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-4">
                    Recipes:

                    <div class="form-group" id="RecipeList">
                        @foreach (var recipe in Model.Recipes)
                        {
                            <div class="row">
                                <div class="col">
                                    <select name="RecipeIds" class="form-control" asp-items="ViewBag.RecipeId" value="@recipe.RecipeId"></select>
                                </div>
                            </div>
                        }

                        <div class="row" name="RecipeRow">
                            <div class="col">
                                <select name="RecipeIds" class="form-control" asp-items="ViewBag.RecipeId"></select>
                            </div>
                        </div>

                    </div>

                    <button type="button" onclick="addRecipe()">Add Recipe</button>
                </div>
                <div class="col-1"></div>
                <div class="col">
                    Products:

                    <div class="form-group" id="ProductList">
                        @foreach (var product in Model.Products)
                        {
                            <div class="row">
                                <div class="col-8">
                                    <select name="ProductIds" class="form-control" asp-items="ViewBag.ProductId" value="@product.ProductId"></select>
                                </div>
                                <div class="col-2">
                                    <input name="Quantities" type="number" step="0.01" min="0" style="width: inherit;" value="@product.Quantity" />
                                </div>
                                <div class="col">
                                    <select name="Units"
                                            class="form-control"
                                            asp-items="Html.GetEnumSelectList<FoodPlanner.Classes.Unit>()"
                                            value="@product.Unit">
                                    </select>
                                </div>
                            </div>
                        }


                        <div class="form-group" id="ProductList">
                            <div class="row" name="ProductRow">
                                <div class="col-8">
                                    <select name="ProductIds" class="form-control" asp-items="ViewBag.ProductId"></select>
                                </div>
                                <div class="col-2">
                                    <input name="Quantities" type="number" step="0.01" min="0" style="width: inherit;" />
                                </div>
                                <div class="col">
                                    <select name="Units"
                                            class="form-control"
                                            asp-items="Html.GetEnumSelectList<FoodPlanner.Classes.Unit>()">
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button type="button" onclick="addProduct()">Add Product</button>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
