@model IEnumerable<FoodPlanner.Models.FoodPlan>

@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
<div class="container flistPage">
    <p style="text-align:right;">
        <a class="btn dark btn-coffee" asp-controller="Home" asp-action="Index" style="width: 100px;">Back</a>
    </p>
    <hr />
    <p>No calendar entries found. Make sure you are in a household and have one selected</p>
    <p>(you can do this in profile settings using the button below).</p>
    <a class="nav-link text-light btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Households" title="Manage">Manage households</a>
</div>
}
else
{
<div class="container-fluid flistPage">
    <p style="text-align:right;">
        <a class="btn dark btn-coffee" asp-controller="Home" asp-action="Index" style="width: 100px;">Back</a>
    </p>
    <hr />
    <div class="row flex-row flex-nowrap overflow-auto">
        @foreach (var foodplan in Model)
        {
            <div class="col foodplan-col">
                @Html.DisplayFor(fp => foodplan)
            </div>
        }
    </div>
</div>
}



