@model IEnumerable<FoodPlanner.Models.FoodPlan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Days:</div>
                </div>
                <input name="Days" type="text" class="form-control" id="Days" value="@ViewData["Days"]">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Show</button>
        </div>
    </div>
</form>

<div class="container-fluid">
    <div class="row flex-row flex-nowrap overflow-auto">
        @foreach (var foodplan in Model)
        {
            <div class="col">
                @Html.DisplayFor(fp => foodplan)
            </div>
        }
    </div>
</div>



